.calculate__section {
  .container {
    .calculate__section-content {
      display: flex;
      gap: 12rem;
      .content_img-box {
        &.mobile {
          display: none;
        }
      }
      .content_left {
        max-width: 89.2rem;
        .content_title {
          font-size: 9rem;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 4rem;
        }
        .content_subtitle {
          color: #000;
          font-size: 5rem;
          font-weight: 700;
          margin-bottom: 4rem;
        }
        .content_text {
          color: #000;
          font-size: 3rem;
          font-weight: 400;
          line-height: 4rem;
          margin-bottom: 14rem;
        }
        .content_calculate {
          margin-bottom: 9rem;
          .content_calculate-input_box {
            display: flex;
            gap: 3.2rem;
            margin-bottom: 4.2rem;
            input {
              display: none;
            }
            label {
              color: #a1a1a1;
              font-size: 3rem;
              font-weight: 400;
            }
            input:checked + label {
              color: #000;
              border-bottom: 1px solid #000;
            }
          }
          .calculate_text {
            color: #35363a;
            font-size: 2rem;
            font-weight: 300;
            line-height: 2.8rem;
          }
        }
        .content_calculate-box {
          display: flex;
          gap: 6rem;
          margin-bottom: 7rem;
          &.deactive {
            display: none;
          }
          .input_box,
          .select_box {
            .error_msg {
              display: none;
              color: #ff4444;
              font-size: 2rem;
              font-weight: 300;
            }
          }
          .calculate-box_left,
          .calculate-box_right {
            display: flex;
            flex-direction: column;
            gap: 2.8rem;
            flex: 1 0;
          }
        }
      }
      .content_right {
        flex: 1 0;
        .content_img-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 13.2rem;
        }
      }
    }
    .overlay {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(1rem);
      .modal_advanced {
        display: none;
        max-width: 95.5rem;
        max-height: 26.6rem;
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 4px 6px #d5d5d5;
        border-radius: 6rem;
        padding: 5rem 5rem 7rem 10rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .modal_close-icon {
          width: 2.4rem;
          height: 2.4rem;
          margin-left: auto;
          cursor: pointer;
        }
        .modal_content {
          text-align: center;
          .modal_title {
            color: #000;
            font-size: 5rem;
            font-weight: 700;
            margin-bottom: 3rem;
          }
          .modal_text {
            color: #000;
            font-size: 3rem;
            font-weight: 400;
            line-height: 4rem;
          }
        }
      }
      .modal_default {
        display: none;
        max-width: 105.8rem;
        max-height: 50.7rem;
        width: 100%;
        background-color: #fff;
        box-shadow: 1px 4px 6px #d5d5d5;
        border-radius: 6rem;
        padding: 5rem 5rem 7rem 10rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .modal_close-icon {
          width: 2.4rem;
          height: 2.4rem;
          margin-left: auto;
          cursor: pointer;
        }
        .modal_title {
          color: #000;
          font-size: 5rem;
          font-weight: 700;
          margin-bottom: 4rem;
        }
        .modal_content {
          .modal_content-box {
            display: flex;
            align-items: center;
            gap: 7.2rem;
            .content_img {
              width: 22.5rem;
            }
            .content_info {
              max-width: 46.7rem;
              .content_list {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-bottom: 4rem;
                .content_item {
                  p {
                    color: #000;
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 140%;
                    span {
                      font-weight: 300;
                      margin-right: 1rem;
                    }
                  }
                }
              }
              .content_btn {
                &.mobile {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 49em) {
  .calculate__section {
    margin-bottom: 12rem;
    .container {
      .calculate__section-content {
        .content_img-box {
          &.mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8rem;
            video {
              margin-right: 1.8rem;
            }
          }
        }
        .content_left {
          width: 100%;
          .content_title {
            font-size: 7rem;
            margin-bottom: 0;
          }
          .content_text {
            margin-bottom: 8rem;
          }
          .content_calculate {
            .content_calculate-input_box {
              label {
                font-size: 5rem;
              }
            }
            .calculate_text {
              font-size: 3rem;
              line-height: 135%;
            }
          }
          .content_calculate-box {
            flex-direction: column;
            gap: 8rem;
            .calculate-box_left,
            .calculate-box_right {
              gap: 8rem;
            }
          }
          .content_btn {
            margin: 0 auto;
            padding: 2.8rem 9.6rem;
          }
        }
        .content_right {
          display: none;
        }
      }
      .overlay {
        z-index: 115;
        .modal_advanced {
          max-width: 67rem;
          max-height: 43.2rem;
          padding: 4rem;
          .modal_close-icon {
            width: 5rem;
            height: 5rem;
            margin-bottom: 8rem;
          }
        }
        .modal_default {
          max-width: 67.5rem;
          max-height: 123.6rem;
          padding: 4rem;
          .modal_close-icon {
            width: 5rem;
            height: 5rem;
            margin-bottom: 8rem;
          }
          .modal_content {
            .modal_title {
              margin-bottom: 4rem;
            }
            .modal_content-box {
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              gap: 4rem;
              .content_img {
                width: 34.2rem;
              }
              .content_info {
                max-width: 100%;
                .content_list {
                  margin-bottom: 8rem;
                  .content_item {
                    p {
                      font-size: 3rem;
                    }
                  }
                }
                .content_btn {
                  display: none;
                  &.mobile {
                    width: 100%;
                    padding: 2.8rem 9.6rem;
                    font-size: 4.4rem;
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
