.philosophy__section-sixth {
  margin-bottom: 0;
}
.philosophy__section-sixth .container-video {
  display: none;
  height: 99.5rem;
}
.philosophy__section-sixth .container-video video {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 99.5rem;
}
.philosophy__section-sixth .container {
  width: 100%;
  position: relative;
}
.philosophy__section-sixth .container .philosophy__section-background img {
  -o-object-fit: cover;
  object-fit: cover;
}
.philosophy__section-sixth .philosophy__section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10.8rem;
  left: 22.6rem;
  width: 25.6rem;
  height: 25.6rem;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
}
.philosophy__section-sixth .philosophy__section-content .content_btn {
  display: flex;
  gap: 1rem;
}
.philosophy__section-sixth
  .philosophy__section-content
  .content_btn
  .content_text {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.philosophy__section-sixth
  .philosophy__section-content
  .content_btn
  .content_icon {
  width: 0.8rem;
}
.philosophy__section-sixth {
  position: relative;
}
.philosophy__section-sixth #close-video {
  content: '';
  position: fixed;
  z-index: 110;
  top: 20px;
  right: 30px;
  opacity: 0;
  font-size: 18px;
  transition: opacity 0.3s ease;
}
.philosophy__section-sixth .container-video._fw #close-video {
  opacity: 1;
}

@media (max-width: 48em) {
  .philosophy__section-sixth .container {
    padding: 0;
  }
  .philosophy__section-sixth .container .philosophy__section-background img {
    -o-object-position: -100rem;
    object-position: -100rem;
    height: 104rem;
  }
  .philosophy__section-sixth .container .philosophy__section-content {
    top: 4rem;
    left: 4rem;
  }
}
