.video__section {
  margin-top: 9.1rem;
  margin-bottom: 0;
  // clip-path: polygon(100% 0%, 100% 100%, 0% 80%, 0% 0%);
  .section_video {
    video {
      object-fit: cover;
      width: 100%;
      height: 99.5rem;
    }
    .mobile {
      display: none;
    }
  }
}

@media (max-width: 48em) {
  .video__section {
    margin-top: 10.4rem;
    .section_video {
      .desktop {
        display: none;
      }
      .mobile {
        height: 80rem;
        display: block;
      }
    }
  }
}
.video__section #close-video {
  content: '';
  position: absolute;
  z-index: 112;
  top: 6rem;
  right: 14rem;
  opacity: 0;
  font-size: 18px;
}
.video__section .section_video {
  position: relative;
}
