.cart__section-btns {
  display: flex;
  gap: 2.7rem;
}
.cart__section-btns .icon-btn {
  padding: 1.9rem 2.05rem;
}
.cart__section-second .container .cart__section-decoration {
  right: -21.6rem;
}
.veripery__section-first {
  overflow: hidden;
}
.product-box br.mobile {
  display: none;
}
.cart__section-first .container .cart__section-content .content_products .product-box .product_photo .product_photo-background {
  height: 21rem;
  width: 48rem;
  top: -0.5rem;
}
.cart__section-first .container .cart__section-content .content_products .product-box .product_info .product_info-color {
  margin-bottom: 1.5rem;
}
.cart__section-first .container .cart__section-content .content_products .product-box .product_photo {
  margin-right: 5rem;
}
.cart__section-first .container .cart__section-content .content_products .product-box .product_photo img {
  transform: translate(0rem, -1rem);
}
.cart__section-first .container .cart__section-content .content_products .product-box .product_info .product_info-amount {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.8rem;
}
.cart__section-first .container .cart__section-content .content_products .product-box .product_count {
  margin-right: 10.8rem;
}
.cart__section-first .container .cart__section-content .content_products .product-box .product_price {
  margin-right: 7rem;
}

.purchase__section-third .container .purchase__section-content .content_bottom .content_left .places_box {
  margin-left: -2rem;
  padding-left: 2rem;
}
.place_info-box.active .place_title {
  position: relative;
}
.place_info-box.active .place_title::after {
  content: '';
  background: #D5D3D3;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  left: -2rem;
  top: 0.5rem;
}
.purchase__section-third .container .purchase__section-content .content_bottom .content_left .places_box .place_info-box.active .place_phone {
  color: #000;
}
.purchase__section-third .container .overlay {
  display: none;
}
.purchase__section-third .container .overlay .modal {
  display: none;
}
.purchase__section-third .container .purchase__section-content .content_bottom .content_left .places_box .place_info-box .place_title {
  color: #53565A;
}
.purchase__section-third .container .purchase__section-content .content_bottom .content_left .places_box .place_info-box.active .place_title {
  color: #000;
}
.volume_box.mobile {
  display: none;
}


@media (max-width: 48em) {
  .freedom__section-first .container .freedom__section-video {
    height: 72rem;
  }
  .freedom__section-first .container .freedom__section-video .mobile {
    height: 87.5rem;
    -o-object-position: 0 -10rem;
    object-position: 0 -10rem;
  }
  .freedom__section-first .container .freedom__section-content .content_title, 
  .veripery__section-first .container .veripery__section-content .content_title,
  .elmar__section-first .container .elmar__section-content .content_title,
  .solution__section-first .container .solution__section-content .content_title {
    gap: 1rem;
  }
  .veripery__section-first .container .veripery__section-background .background-mobile {
    height: 72rem;
    width: 100%;
  }
  .cart__section-btns {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .cart__section-second-empty .container .cart__section-content .content_btn {
    width: fit-content;
  }
  .cart__section-second-empty .container .cart__section-content .icon-btn {
    padding: 2.6rem 2.1rem;
    width: 8.4rem;
    height: 8.4rem;
  }
  .cart__section-second-empty .container {
    height: 130rem;
  }

  .conceptColor__section-fourth .content_right {
    display: flex;
    flex-direction: column-reverse;
  }
  .conceptColor__section-fourth .container .conceptColor__section-content .content_right .content_btn-mobile {
    transform: unset;
  }
  .conceptColor__section-fourth .container .conceptColor__section-content .content_right .content_img {
    transform: translateX(-4rem) translateY(5rem);
    margin-bottom: -8rem;
    width: 75rem;
  }

  .product-box br.mobile {
    display: block;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_info .product_info-text {
    line-height: 135%;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_info .product_info-color {
    margin-bottom: 2rem;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_info .product_info-amount {
    font-size: 3rem;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_photo.mobile img {
    width: 29rem;
    padding-top: 0rem;
    padding-left: 0rem;
    object-fit: contain;
    transform: translate(-3rem, 7rem);
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_photo.mobile .product_photo-background {
    width: 35rem;
    height: 30.8rem;
    border-top-right-radius: 30rem;
    border-bottom-right-radius: 30rem;
    position: absolute;
    z-index: -1;
    top: 7rem;
    left: -4rem
  }
  .cart__section-first .container .cart__section-content .content_products .product-box {
    display: grid;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_info {
    grid-column: 1/3;
    margin-right: 0;
    margin-bottom: 0rem;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_photo.mobile {
    grid-row: 2/5;
    margin-right: 7rem;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_expenses {
    margin-right: 0;
    margin-bottom: 4rem;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_expenses .product_expenses-box {
    padding: 2rem 4rem;
    margin-left: -4rem;
    width: fit-content;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_expenses .product_expenses-box .product_expenses-text {
    width: fit-content;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_count {
    margin-right: 0;
    margin-bottom: 4rem;
  }
  .cart__section-second .container .cart__section-content .contents .content_left .content_radio-box .radio_content .radio_content-box .radio_box label {
    font-size: 4rem;
    position: relative;
    padding-left: 5.6rem;
  }
  .cart__section-first .container .cart__section-content .content_products .product-box .product_price {
    margin-right: 0;
  }
  .cart__section-second .container .cart__section-content .contents .content_left .content_radio-box .radio_content .radio_content-box .radio_box .custom_radio + label::before {
    position: absolute;
    left: 0;
    top: 0.3rem;
  }

  .purchase__section-third .container .purchase__section-content .content_bottom .content_left .places_box {
    margin-left: 0;
    padding-left: 0;
  }
  .place_info-box.active .place_title::after {
    content: unset;
  }
  .purchase__section-third .container .purchase__section-content .content_bottom .content_left .places_box .place_info-box.active .place_phone {
    color: #53565A;
  }
  .purchase__section-third .container .purchase__section-content .content_bottom .content_left .places_box .place_info-box.active .place_title {
    color: #53565A;
  }

  .details__section-first .container .details__section-content .content_right {
    gap: 4rem;
  }
  .volume_box.mobile {
    display: block;
    width: 100%;
  }
  .content_volume-text {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .content_volume {
    display: flex;
    justify-content: space-between;
  }
  .content_volume .btn{
    padding: 2.4rem 6rem;
  }
}